.App{
  text-align: center;
}

.App-header {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffffe7;
}

.Paper {
  display: inline-block;
  width: 50%;
  padding: 8px;
  margin: 16px;
  
}

.TemplateCard {
  max-width: 256px;
  margin: 16px;
}

body {
  background-color: #e0d9cd;
}